.about-container {
  padding: 50px 150px 0px 150px;
}

.about-container h1 {
  font-size: 42px;
  font-weight: 700;
}

.about-texts p {
  font-size: 20px;
  margin: 45px 0;
}

.lnk {
  color: white;
  background: linear-gradient(to bottom, #eebbc3 0%, #eebbc3 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size 0.5s;
}

.lnk:hover {
  background: #eebbc3;
  color: white;
  background-size: 4px 50px;
}
